<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Permalist</title>
  
</head>

<body>
  <% if (session && session.userId) { %>
    <form action="/logout" method="post" style="display:inline;">
      <button type="submit">Log Out</button>
    </form>
  <% } else { %>
    <a href="/login">Login</a>
  <% } %>
  
  <main>

 